.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(106, 101, 167);
}

input[type="text"] {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  font-size: 21px;
  padding: 12px;
  border-left: 5px purple solid;
}

h1 {
  color: palevioletred;
}
h2 {
  color: white;
}
